alias oc='oc --kubeconfig ~/{{kubeconfig_path}}'

bmo() {
    oc get pods --namespace openshift-machine-api -o name | sed -n -e 's#^pod/##' -e '/^metal3-[[:xdigit:]]\{7,10\}-/ p'
}

bmo-log() {
    oc logs --namespace openshift-machine-api $(bmo) -c metal3-baremetal-operator | bmo-log-parse $*
}
bmo-log-tail() {
    oc logs --follow --since=30s --namespace openshift-machine-api $(bmo) -c metal3-baremetal-operator | bmo-log-parse $*
}
