- name: Install make
  dnf:
      name: make
      state: present
  become: yes
- name: Autopage repository
  get_url:
      dest: /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:zaneb:autopage.repo
      url: https://copr.fedorainfracloud.org/coprs/zaneb/autopage/repo/epel-8/zaneb-autopage-epel-8.repo
  become: yes
  register: autopage_repo
- name: Install bmo-log-parse
  dnf:
      name: python3-bmo-log-parse
      state: present
      update_cache: "{{autopage_repo.changed}}"
  become: yes
